<div>
  <div>
    <h1>
    <%= @the_board.name %> 
    </h1>
<hr>

<h2> Add a new post </h2>
    <form action=""">
      <div>
      <label for = "input_title"> Title </label>
      <input id = "input_title" type = "text" name = "query_title">
      </div>
      <label for = "body_box"> Body </title>
      <textarea id = "body_box" name = "query_body"> </textarea>
      </div>
      <div>
      <label for="expires_box"> Expires on </label>
      <input id = "expires_box" type= "date" name = "query_expires_on">
      <div>
      <button> Add post </button>
    </form>
    <hr>
     

    <h2> Active post </h2>
    <table border = 1 >
      <tbody>
        <tr>
          <th> Title </th>
          <th> Body </th>
          <th> Posted on </th>
          <th> Expires on </th> 
        </tr>
        <tr>
          
      </tbody>
    </table>

   <h2> Expired Post </h2>
    <table border = 1 >
      <tbody>
      <tr>
          <th> Title </th>
          <th> Body </th>
          <th> Posted on </th>
          <th> Expires on </th> 
        </tr>
      </tbody>
    </table>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_board.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


